.panel.panel-primary
  .panel-heading
    %h3 Form Encryption
  .panel-body
    = form_tag('/', method: :post, authenticity_token: form_authenticity_token, remote: true, class: "form-horizontal", id: 'frm_encrypt', multipart: true) do
      .form-group
        = label_tag "file_name", "File Name", class: "control-label col-sm-3 required"
        .col-sm-4
          .input-group
            %span.input-group-btn
              %span.btn.btn-default.btn-file
                Pilih File
                &hellip;
                = file_field_tag "file_name"
                / %input{type: "file"}
            = text_field_tag "temp", nil, class: "form-control", readonly: true
            / # = file_field_tag "file_name", class: "form-control", placeholder: "Pilih file."
          %span.help-block.file-name
            Pilih file yang ingin di enkripsi.
      .form-group
        = label_tag "encryption_type", "Encryption Type", class: "control-label col-sm-3 required"
        .col-sm-4
          = select_tag "encryption_type", options_from_collection_for_select(list_enc_type, 'lov_id','lov_name', selected) , include_blank: false, class: "form-control", id: "encryption_type", placeholder: "Encryption Type"
          %span.help-block
            Pilih tipe enkripsi.
      .form-group
        .col-sm-offset-3.col-sm-8
          .checkbox
            = label_tag("is_keep_file") do
              = check_box_tag "is_keep_file", true, false
              Keep File ?
          %span.help-block
            Mengizinkan Endesapp menyimpan hasil enksripsi.
      .form-group
        .col-sm-offset-3.col-sm-9
          .checkbox
            = label_tag("is_custom_key") do
              = check_box_tag "is_custom_key", true, true
              Custom Key ?
          %span.help-block
            Gunakan keyword kamu untuk di gunakan sebagai key enkripsi.
      .form-group.container-custom
        = label_tag "custom_key", "Custom Key", class: "control-label col-sm-3 required"
        .col-sm-8
          = password_field_tag "custom_key", nil, class: "form-control", id: "custom_key", placeholder: "Your Custom Key"
      .form-group.container-custom
        = label_tag "custom_iv", "Custom Init Vector", class: "control-label col-sm-3 required"
        .col-sm-8
          = password_field_tag "custom_iv", nil, class: "form-control", id: "custom_iv", placeholder: "Your Custom Init Vector"
          %span.help-block.custom-iv
            Untuk alasan keamanan, custom key dan custom iv kamu akan turut di enkripsi.
      .form-group
        .col-sm-offset-3.col-sm-5
      .form-group
        .col-sm-offset-3.col-sm-5
          %a.btn.btn-default#encrypt_btn
            %i.fa.fa-fw.fa-lock
            %span Encrypt File
          %a.btn.btn-default#cancel
            %i.fa.fa-fw.fa-close
            %span Cancel
:javascript
  $(function(){
    $('#encrypt_btn').click(function(){
      $('#frm_encrypt').submit();
    });

    $('#is_custom_key').click(function(){
      if (this.checked){
        add_rules();
        $('.container-custom').slideToggle('slow');
      }else{
        clear_rules();
        $('.container-custom').slideToggle('slow');
      }
    });

    $('#cancel').click(function(){
      $('#content').fadeOut(500,function(){
        $(this).empty();
      });
    });

    $('#frm_encrypt').validate({
      rules: {
        file_name: {
          required: true
        },
        encryption_type: {
          required: true
        },
        custom_key: {
          required: true,
          minlength: 24
        },
        custom_iv: {
          required: true,
          minlength: 8
        }
      },
      messages: {
        file_name: {
          required: "Please choose file you to encrypt."
        },
        encryption_type: {
          required: "Please choose encryption type you want to used."
        },
        custom_key: {
          required: "Please input your custom key."
        },
        custom_iv: {
          required: "Please input your custom init vector."
        }
      },
      errorPlacement: function(error, element){
        if (element.attr("name") == "file_name"){
          error.insertAfter(".file-name");
        }else if (element.attr("name") == "custom_iv"){
          error.insertAfter(".custom-iv");
        }else{
          error.insertAfter(element);
        }
      },
      submitHandler: function(form){
        $.ajax({
          url: "#{encrypt_file_m_encryptions_path}",
          method: "post",
          async: false,
          data: new FormData(form),
          processData: false,
          contentType: false
        });
      }
    });
  });

  function clear_rules(){
    $('#custom_key').rules('remove');
    $('#custom_iv').rules('remove');
  }

  function add_rules(){
    $('#custom_key').rules('add',{
      required: true,
      minlength: 10,
      messages: {
        required: "Please input your custom key."
      }
    });

    $('#custom_iv').rules('add',{
      required: true,
      minlength: 8,
      messages: {
        required: "Please input your custom init vector."
      }
    });
  }