.modal.fade#modal_signup{tabindex: "-1", role: "dialog", "aria-labelledby"=> "Daftar", "aria-hidden"=> "true"}
  .modal-dialog
    .modal-content
      .modal-header
        / %button.close{type: "button", "data-dismiss" => "modal", "aria-label"=> "Close"}
        /   %span{"aria-hidden"=> "true"} &times;
        %h3.modal-title
          %i.fa.fa-fw.fa-user-md
          %span Daftar
      .modal-body
        %h5 Silahkan lengkapi data di bawah ini
        = form_tag(sign_up_sistems_path, method: :post,authenticity_token: form_authenticity_token,class: "form-horizontal", id: "frm_sign_up") do
          .form-group
            = label_tag "nickname", "Nickname", class: "col-sm-3 control-label required"
            .col-sm-9
              = text_field_tag "nickname", nil, placeholder: "Input your nickname", class: "form-control"
          .form-group
            = label_tag "fullname", "Fullname", class: "col-sm-3 control-label required"
            .col-sm-9
              = text_field_tag "fullname", nil, placeholder: "Your fullname please", class: "form-control"
          .form-group
            = label_tag "birthdate", "Birthdate", class: "col-sm-3 control-label"
            .col-sm-4
              .input-group.date#birthdate_container
                = text_field_tag "birthdate", nil, class: "form-control", placeholder: "Birthdate"
                %span.input-group-addon
                  %i.fa-calendar.fa.fa-fw
            = label_tag "gender", "Gender", class: "col-sm-2 control-label required"
            .col-sm-3
              = select_tag "gender", options_from_collection_for_select(list_gender, 'lov_id','lov_name') , include_blank: false, class: "form-control", id: "gender", placeholder: "Gender"
          .form-group
            = label_tag "username", "Username", class: "col-sm-3 control-label required"
            .col-sm-9
              = email_field_tag "username", nil, class: "form-control", placeholder: "youremail@example.com"
          .form-group
            = label_tag "password", "Password", class: "col-sm-3 control-label required"
            .col-sm-9
              = password_field_tag "password", nil, class: "form-control", placeholder: "Your password"
          .form-group
            = label_tag "password_confirmation", "Confirm Password", class: "col-sm-3 control-label required"
            .col-sm-9
              = password_field_tag "password_confirmation", nil, class: "form-control", placeholder: "Your password"
      .modal-footer
        %button.btn.btn-default#btn_sign_up
          %i.fa.fa-chevron-up.fa-fw
          %span Daftar
        %button.btn.btn-default{"data-dismiss"=> "modal"}
          %i.fa-close.fa.fa-fw
          %span Tutup

:javascript 
  $(function(){
    $('#birthdate_container.input-group.date').datepicker({
      format: "dd MM yyyy",
      clearBtn: true,
      autoclose: true
    });
    
    $('#btn_sign_up').click(function(){
      $('#frm_sign_up').submit();
    });

    $('#frm_sign_up').validate({
      rules: {
        nickname: {
          required: true,
          maxlength: 100
        },
        fullname: {
          required: true
        },
        password: {
          required: true,
          rangelength: [6,20]
        },
        password_confirmation: {
          equalTo: '#password' 
        },
        username: {
          required: true
        }
      },
      messages: {
        nickname: "Please input your nickname.",
        fullname: "Please input your fullname.",
        username: {
          required: "Please provide your email as username."
        },
        password: {
          required: "Please type a password.",
          rangelength: "Password must be between 6 and 20 characters."
        },
        password_confirmation: {
          equalTo: "Password do not match."
        }
      },
      submitHandler: function(form){
        form.submit();
      }
    });

    $('#modal_signup').on('hidden.bs.modal', function(e){
      $('#html_modal_signup').empty();
    });
  });

