.modal.fade#modal_signin{tabindex: "-1", role: "dialog", "aria-labelledby"=> "Masuk", "aria-hidden"=> "true"}
  .modal-dialog
    .modal-content
      .modal-header
        / %button.close{type: "button", "data-dismiss" => "modal", "aria-label"=> "Close"}
        /   %span{"aria-hidden"=> "true"} &times;
        %h3.modal-title#modal_label_signin
          %i.fa.fa-fw.fa-user
          %span Masuk
      .modal-body
        %h5 Silahkan lengkapi data di bawah ini
        = form_tag('/', method: :post, remote: true, class: "form-horizontal", id: "frm_sign_in") do
          .form-group.required
            = label_tag "username", "Username" ,class: "col-sm-2 control-label"
            .col-sm-10
              = email_field_tag "username", nil,class: "form-control", id: "username_signin", placeholder: "Username", required: "required"
          .form-group.required
            = label_tag "password", "Password", class: "col-sm-2 control-label"
            .col-sm-10
              = password_field_tag "password",nil ,class: "form-control", id: "password_signin", placeholder: "Password", required: "required"
          

      .modal-footer
        %button.btn.btn-default
          %i.fa.fa-fw.fa-sign-in
          %span Masuk
        %button.btn.btn-default{"data-dismiss"=> "modal"}
          %i.fa-close.fa.fa-fw
          %span Tutup