.modal.fade#modal_signup{tabindex: "-1", role: "dialog", "aria-labelledby"=> "Daftar", "aria-hidden"=> "true"}
  .modal-dialog
    .modal-content
      .modal-header
        / %button.close{type: "button", "data-dismiss" => "modal", "aria-label"=> "Close"}
        /   %span{"aria-hidden"=> "true"} &times;
        %h3.modal-title#modal_label_signup
          %i.fa.fa-fw.fa-user-md
          %span Daftar
      .modal-body
        %h5 Silahkan lengkapi data di bawah ini
        = form_for :sign_up, remote: true, html: {class: "form-horizontal", id: "frm_sign_up"} do |f|
          .form-group.required
            = f.label :nickname, "Nickname" ,class: "col-sm-2 control-label"
            .col-sm-10
              = f.text_field :nickname, class: "form-control", id: "nickname", placeholder: "Nickname"
          .form-group.required
            = f.label :fullname, "Fullname" ,class: "col-sm-2 control-label"
            .col-sm-10
              = f.text_field :fullname, class: "form-control", id: "fullname", placeholder: "Full Name"
          .form-group
            = f.label :birthdate, "Birthdate" ,class: "col-sm-2 control-label required"
            .col-sm-4
              .input-group.date#birthdate_container
                = f.text_field :birthdate, class: "form-control", id: "birthdate", placeholder: "Birthdate"
                %span.input-group-addon
                  %i.fa-calendar.fa.fa-fw
            = f.label :gender, "Gender" ,class: "col-sm-2 control-label required"
            .col-sm-4
              = f.select :gender, options_from_collection_for_select(@list_gender, 'lov_id','lov_name') , {include_blank: false}, class: "form-control", id: "gender", placeholder: "Gender"
          .form-group.required
            = f.label :username, "Username" ,class: "col-sm-2 control-label"
            .col-sm-10
              = f.email_field :username, class: "form-control", id: "username_signup", placeholder: "example@email.com"
          .form-group.required
            = f.label :password, "Password", class: "col-sm-2 control-label"
            .col-sm-10
              = f.password_field :password, class: "form-control", id: "password_signup", placeholder: "Password"
      .modal-footer
        %button.btn.btn-default
          %i.fa.fa-chevron-up.fa-fw
          %span Daftar
        %button.btn.btn-default{"data-dismiss"=> "modal"}
          %i.fa-close.fa.fa-fw
          %span Tutup

:javascript 
  $(function(){
    $('#birthdate_container.input-group.date').datepicker({
      format: "dd MM yyyy",
      clearBtn: true,
      autoclose: true
    });

    $('#frm_sign_up').validate({
      rules: {
        nickname: {
          required: true
        }
      }
    });
  });

